@font-face {
    font-family: ALS_Direct_Semi_Cond;
    src: url(/fonts/ALS_Direct_Semi_Cond.otf);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button,
input,
option,
select,
textarea {
    border: none;
    outline: none
}

button {
    background-color: transparent;
    cursor: pointer;
}

a,
button,
input {
    transition-property: color, background-image, background-color, transform, opacity, box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: linear
}

:after,
:before {
    box-sizing: border-box;
    transition: .3s linear;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
}

.page {
    margin-right: auto;
    margin-left: auto
}

.product1 {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 26px 0 #e1e1e1;
}

/* .header{
    margin-left: 45px;
} */

/* .top__header {
    margin-top: 25px;
} */

.top__link {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 1.5px;
    color: #6d7278;
}

.top__status,
.top__access {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
}

.top__status{
    margin: 0 12px;
    color: #6d7278;
}

.top__access{
    padding-left: 23px;
    color: #8a7c5d;
    background: url(/img/user.svg) 0 no-repeat;
}

.title,
.subtitle {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #000;
}

.title{
    font-size: 30px;
    line-height: 30px;
    line-height: 1.27;
    letter-spacing: normal;
}

.subtitle {
    max-width: 485px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
}

.actions{
    background-color: #142536;
}

.actions__item{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.actions__item:last-child {
    border-bottom-color: transparent;
}

.actions__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions__item.open .actions__item-header{
    border-bottom: 1px solid #405265
}

.actions__item-title {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
}

.actions__item-toggle {
    width: 14px;
    height: 6px;
    background-image: url(/img/arrow-down.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.actions__item.open .actions__item-toggle{
    background-image: url(/img/arrow-up.svg);
}

.actions__item-description {
    display: none;
}

.actions__item-description:after {
    content: "";
    display: block;
    clear: both;
}

.actions__item.open .actions__item-description {
    display: block;
}

.actions__item-text {
    width: 693px;
    ;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;

}

.actions__item-text a {
    color: #5a88c1;
    border-bottom: 1px dashed;
    text-decoration: none
}

.actions__item-text a:hover {
    color: #5a88c1;
    border-bottom: 1px dashed;
    text-decoration: none
}

.actions__item-image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.actions__form-label {
    position: relative;
    display: block;
}

.actions__form-label:not(:last-of-type) {
    margin-bottom: 31px;
}

.actions__form-input {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid #5c738b
}

.actions__form-input:focus {
    border-bottom-color: #ffffff
}

.actions__form-input::placeholder {
    
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #fff
}



.actions__form-delete{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 0;
    background-image: url(/img/delete.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.actions__form-submit {
    width: 214px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    text-align: center;
    color: #ffffff;
    border-radius: 29.5px;
    border: solid 1px #ffffff;
}

.actions__form-submit:hover {
    color: #5c738b;
    border-color: #5c738b
}

@media (min-width:1408px) {
    .page {
        max-width: 1300px;
        padding-top: 114px;
        padding-bottom: 139px
    }

    .actions__item-text {
        float: left;
        max-width: 693px;
        letter-spacing: -.5px
    }

    .actions__item-image {
        float: right;
        margin-right: 149px
    }

    .actions__form {
        float: left;
        width: 280px;
        margin-top: 31px
    }
}

@media (max-width:1407px) and (min-width:896px) {
    .page {
        max-width: 768px;
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media (max-width:895px) {
    .page {
        max-width: 375px;
        padding-top: 50px;
        padding-bottom: 50px
    }

    .product:not(:last-child) {
        margin-bottom: 36px
    }

    .header {
        padding: 28px 14px 15px
    }

    .title {
        display: flex;
        align-items: center
    }

    .top__link,
    .top__status {
        margin-right: 16px
    }

    .top__access {
        display: inline-block;
        width: 24px;
        height: 24px;
        overflow: hidden
    }

    .title {
        margin-top: 13px
    }

    .image {
        height: 220px;
        overflow: hidden
    }

    .image img {
        height: inherit
    }

    .actions__item {
        padding-right: 15px;
        padding-left: 15px
    }

    .actions__item-header {
        padding-top: 17px;
        padding-bottom: 16px
    }

    .actions__item-title {
        max-width: 290px
    }

    .actions__item-description {
        padding: 16px 0 28px
    }

    .actions__item-paragraph:not(:last-child) {
        margin-bottom: 8px
    }

    .actions__form-submit {
        width: 100%;
        margin-top: 44px;
        margin-bottom: 1px;
        letter-spacing: -.5px
    }
}

@media (min-width:896px) {
    .product {
        border-radius: 8px
    }

    .product:not(:last-child) {
        margin-bottom: 43px
    }

    .header {
        padding: 30px 45px
    }

    .top__link {
        margin-right: 11px
    }

    .top__status {
        margin-right: 13px
    }

    .title {
        margin-top: 15px
    }

    .actions__item {
        padding-right: 45px;
        padding-left: 45px
    }

    .actions__item-header {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .actions__item-toggle {
        margin-left: 30px
    }

    .actions__item-description {
        padding: 30px 0
    }

    .actions__item-paragraph:not(:last-child) {
        margin-bottom: 9px
    }

    .actions__form-submit {
        width: 214px;
        margin-top: 45px;
        letter-spacing: normal
    }
}

@media (max-width:1407px) {
    .actions__item-text {
        margin-bottom: 30px;
        letter-spacing: -.4px
    }

    .actions__item-image {
        margin-right: auto;
        margin-left: auto
    }

    .actions__form {
        margin-top: 28px
    }
}